// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";

.top-bar-section {

}

body {
  background: #e2ebf3;
  position: relative;
}

.container {
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
}

#homesplash {
  max-width: 1200px;
  min-width: 800px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
}

.splashimage {
  text-align: center;
}

.quote {
  position: absolute;
  color: white;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
}

.button {
  border: none;
  width: 150px;
  margin-top: 10px;
  background-color: #EB6900;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 5px darken(#EB6900, 10%);
}
.button:hover {
  background-color: lighten(#EB6900, 10%);
}
.button:active {
  margin-top: 15px;
  box-shadow: 0px 0px 0px #EB6900;
}
form {
  width: 300px;
  margin: 0 auto;
  textarea {
    height: 250px;
  }
}