// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";
@import "font-awesome";

.top-bar-section {

}

li {
  list-style: none;
}

body {
  background: #F5F8FA;
  position: relative;
}

.container {
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
}

#homesplash {
  max-width: 1200px;
  min-width: 800px;
  height: 500px;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
}

.splashimage {
  text-align: center;
}

.quote {
  position: absolute;
  color: white;
  bottom: 0;
  left: 50%;
  margin-left: -200px;
}

.button {
  border: none;
  width: 150px;
  margin-top: 10px;
  background-color: #EB6900;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 5px darken(#EB6900, 10%);
}
.button:hover {
  background-color: lighten(#EB6900, 10%);
}
.button:active {
  margin-top: 15px;
  box-shadow: 0px 0px 0px #EB6900;
}
form {
  width: 300px;
  margin: 0 auto;
  textarea {
    height: 300px;
  }
}

.user {
  border: 1px solid #E2E8EE;
  width: 100px;
  height: 100px;
  vertical-align: top;
  margin-top: 8px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.singleuser {
  border: 1px solid #E2E8EE;
  width: 120px;
  height: 300px;
  vertical-align: top;
  margin-top: 8px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  background-color: #FFFFFF;
}

.userhr {
  margin: 8px;
}

.editpost {
  display: block;
}

.deletepost {
  display: block;
}

.singleuserimage {
  margin-top: 10px;
}

.singlepost {
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  border: 1px solid #E2E8EE;
  margin-top: 8px;
  padding: 20px;
  width: 800px;
  background-color: #FFFFFF;
}

.userpost {
  width: 500px;
  display: inline-block;
  margin-left: 20px;
}

.imagediv {
  width: 400px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  text-align: right;
  margin-bottom: 20px;
}

.postimage {
  width: 800px;
}

.singlepostimage {
  width: 500px;
}

.comment {
  width: 300px;
}

.postdesc {
  font-size: .9em;
  font-color: black;
}

.post {
  background: #FFFFFF;
  // width: 600px;
  text-align: left;
  border: 1px solid #E2E8EE;
  padding: 10px;
  margin-top: 10px;
}

.posts {
  width: 700px;
  padding: 0;
  margin: 0 auto;
}