<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#/">SketchCloud</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="center">
      <li>{{ username }}</li>
    </ul>
    <ul class="right">
      <li><a href="#/signin">Sign In</a></li>
      <li><a href="#/logout">Log Out</a></li>
      <li><a href="#/register">Register</a></li>
      <li><a href="#/upload">New Idea</a></li>
    </ul>
  </section>
</nav>


<section class="container" ui-view></section>